<%= f.label :name, "名字" %>
<%= f.text_field :name, class: "form-control" %>

<%= f.label :phone, "电话" %>
<%= f.text_field :phone, class: "form-control" %>

<%= f.label :city, "城市" %>
<%= f.text_field :city, class: "form-control" %>

<%= f.label :position, "当前职位" %>
<%= f.text_field :position, class: "form-control" %>

<%= f.label :education, "教育经历" %>
<%= f.text_area :education, class: "form-control" %>

<%= f.label :quality, "技能" %>
<%= f.text_area :quality, class: "form-control" %>

<%= f.label :experience, "工作经历" %>
<%= f.text_area :experience, class: "form-control" %>

<%= f.label :period, "工作年限" %><span>(仅填数字)(验证功能待开发)</span>
<%= f.text_field :period, class: "form-control" %>

<%= f.label :comment, "备注"%>
<%= f.text_area :comment, class: "form-control" %>
