<!-- <%= render 'layouts/debug' %> -->

<div class="row">
	<div class="col-md-8">
		<%= will_paginate %>
		
		<%= render 'resumes/resumes_list' %>
		
		<%= will_paginate %>
	</div>
	<div class="col-md-4">
		<%= render 'searches/search_field' %>
	</div>
</div>