<!-- <%= render 'layouts/debug' %> -->

<div class="row">
	<div class="col-md-8">
		<%= will_paginate @resumes %>
		
		<%= render @resumes %>
		
		<%= will_paginate @resumes %>
	</div>
	<div class="col-md-4">
		<%= render 'searches/search_field' %>
	</div>
</div>